<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79513851705-c0qnfaoh3c6f79fe3gclk0945rt105vb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79513851705-c0qnfaoh3c6f79fe3gclk0945rt105vb</string>
	<key>API_KEY</key>
	<string>AIzaSyC_QwJNTdVunUW2lGeoLaW5CNsaxN1qqk0</string>
	<key>GCM_SENDER_ID</key>
	<string>79513851705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.domainname.los</string>
	<key>PROJECT_ID</key>
	<string>legends-of-samurai</string>
	<key>STORAGE_BUCKET</key>
	<string>legends-of-samurai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79513851705:ios:6598dfefabacb1a2eefae8</string>
</dict>
</plist>